@model EmployeeManagementAPI.Models.Employee

<div class="container mt-4">
    <h2 class="text-center">Delete Employee</h2>

    <h3 class="text-center">Are you sure you want to delete this employee?</h3>

    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">
                    Employee Name
                </dt>
                <dd class="col-sm-8">
                    @Model.EmployeeName
                </dd>
                <dt class="col-sm-4">
                    Date of Birth
                </dt>
                <dd class="col-sm-8">
                    @Model.DateBirth.ToShortDateString()
                </dd>
                <dt class="col-sm-4">
                    Email
                </dt>
                <dd class="col-sm-8">
                    @Model.Email
                </dd>
                <dt class="col-sm-4">
                    Phone Number
                </dt>
                <dd class="col-sm-8">
                    @Model.PhoneNumber
                </dd>
                <dt class="col-sm-4">
                    Hire Date
                </dt>
                <dd class="col-sm-8">
                    @Model.HireDate.ToShortDateString()
                </dd>
                <dt class="col-sm-4">
                    Department
                </dt>
                <dd class="col-sm-8">
                    @Model.Department.DepartmentName
                </dd>
            </dl>

            <form asp-action="Delete" method="post" class="text-center">
                <!-- Hidden field for EmployeeID -->
                <input type="hidden" asp-for="EmployeeID" />
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
